@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Color morado para el botón en modo claro */
    --primary: 260 90% 60%;
    --primary-foreground: 260 90% 98%;
    
    /* Otros colores para el modo claro */
    --background: 20 66% 95%;
    --foreground: 20 51% 10%;
    --muted: 20 25% 88%;
    --muted-foreground: 20 7% 35%;
    --popover: 20 66% 96%;
    --popover-foreground: 20 51% 8%;
    --card: 20 66% 96%;
    --card-foreground: 20 51% 8%;
    --border: 20 15% 90%;
    --input: 20 15% 90%;
    --secondary: 20 12% 88%;
    --secondary-foreground: 20 12% 35%;
    --accent: 20 12% 88%;
    --accent-foreground: 20 12% 35%;
    --destructive: 11 80% 25%;
    --destructive-foreground: 11 80% 80%;
    --ring: 260 90% 60%;
  }

  .dark {
    /* Mantén el color morado en el botón para el modo oscuro también */
    --primary: 260 90% 60%;
    --primary-foreground: 260 90% 98%;
    
    /* Colores para el fondo oscuro */
    --background: 253 43% 3%;
    --foreground: 253 31% 98%;
    --muted: 253 7% 13%;
    --muted-foreground: 253 13% 63%;
    --popover: 253 43% 3%;
    --popover-foreground: 253 31% 98%;
    --card: 253 43% 4%;
    --card-foreground: 253 31% 99%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --secondary: 253 7% 9%;
    --secondary-foreground: 253 7% 69%;
    --accent: 253 13% 14%;
    --accent-foreground: 253 13% 74%;
    --destructive: 339.2 90.36% 51.18%;
    --destructive-foreground: 0 0% 100%;
    --ring: 260 90% 60%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply box-border bg-background text-foreground;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh; /* Fallback */
    min-height: 100dvh;
  }
  .h-screen {
    height: 100vh; /* Fallback */
    height: 100dvh;
  }
}

@keyframes carousel-horizontal {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-carousel-horizontal {
  animation: carousel-horizontal 30s linear infinite;
}

.grid-background {
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.2) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 20px 20px;
}

@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 60s linear infinite;
}

@keyframes pulse {
  0%, 100% { opacity: 0.3; }
  50% { opacity: 0.5; }
}

.animate-pulse {
  animation: pulse 4s ease-in-out infinite;
}

